<h2>{{t 'index.how_to_use'}}</h2>
<p>{{t 'index.purpose'}}</p>
<p>
  The Patterns and Anti-Pattern sections are meant to be clear and concise examples of best and worst practices in regards to Ember development
  The General Guidelines section is meant to give background and perspective for patterns as well as explain concepts that are not highly visible in code.
</p>
{{outlet}}