{{#each model.articles as |articles|}}
  <h2>{{t (concat 'patterns.' articles.group '.title')}}</h2>
  <ul>
    {{#each articles.subgroup as |article|}}
    {{log (concat 'patterns.' articles.group '.' article)}}
      <li>{{t (concat 'patterns.' articles.group '.' article '.title')}}</li>
    {{/each}}

  </ul>
{{/each}}
{{outlet}}