<h2>{{t 'patterns.title'}}</h2>
<ul>
  {{#each model.articles as |article|}}
    {{#let (concat article.t '.title') article.link
      as |title link|
    }}
      <li><LinkTo @route={{link}}>{{t title}}</LinkTo></li>
    {{/let}}
  {{/each}}
</ul>
{{outlet}}